.header{position: fixed; top: 0; left: 0; width: 100%; background: transparent; z-index: 100; height: 90px; overflow: hidden; line-height: 100px; -webkit-transition: height 0.3s;}
.header.roll{height: 85px; line-height: 85px; background: #ffffff;}
.header #nav{width: 100%; margin: 0 auto; -webkit-transition: all 0.3s; transition: all 0.3s;}
.header.roll #nav{-webkit-transition: all 0.3s; transition: all 0.3s;}
.header h1{float: left; font-size: 24px; font-weight: bold; margin: 0 60px;} /*logo*/
#nav ul{position: absolute; right: 60px;}
#nav ul li{float: left;   font-size: 17px; font-weight: bold;}
#nav ul li a{color: #fff; height: 90px; display: block; padding: 0 35px;}/*before scroll*/
.header .roll #nav ul li { height: 85px; }/*after scroll*/
.header .roll #nav ul li a{color: black;}
.main-wrapper{width: 100%; height: 100%; min-width: 1280px;}
.banner{width: 100%; min-width: 1280px; height : 600px;}

.main-wrapper .banner .swiper-container{position: relative; width: 100%; height: 100%;}
.main-wrapper .banner .img {position: relative; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;}
.main-wrapper .banner .img:before {content: ''; position: absolute; width: 100vh; min-width: 1280px; height: 100%; background: linear-gradient(to right, #010206 -1%, rgba(4, 8, 15, 0) 65%);}
.main-wrapper .banner .swiper-pagination {position: absolute;  height: 32px; left: 80px; bottom: 40%; text-align: left;}
.main-wrapper .banner .swiper-pagination-bullet {display: inline-block; position: relative; width: 85px; height: 32px; margin-right: 10px; background: none;}
.main-wrapper .banner .swiper-pagination-bullet:focus{outline:0;}
.main-wrapper .banner .swiper-pagination-bullet:before {content: ''; width: 100%; height: 1px; display: block; margin-top: 15px; background-color: rgba(255, 255, 255, 0.9);}
.main-wrapper .banner .swiper-pagination-bullet:after {content: ''; width: 0; height: 2px; display: block; position: absolute; left: 0; top: 15px; background-color: #ffffff;}
.main-wrapper .banner .swiper-pagination-bullet.swiper-pagination-bullet-active:after {width: 100%; -webkit-transition: all 3s; transition: all 3s;}
.main-wrapper .banner .text {position: absolute; left: 80px; bottom: 50%;}
.main-wrapper .banner .text p {font-size: 32px; font-weight: 300; line-height: 1.38; color: #ffffff; margin-bottom: 15px;}
.main-wrapper .banner .text h3 {font-size: 62px; line-height: 1.21; color: #ffffff; font-weight: normal;} 

.main-wrapper .content {min-width: 1280px; margin: 80px 120px; background : cadetblue; height: 800px;}