<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <ul class="skip-navigation">
        <li><a href="#content">본문내용 바로가기</a></li>
    </ul>
    <div id="wrapper">
        <header id="header">
           <div class="inner-header">
               <h1 class="logo"><a href="#"><span class="a11y">윙크</span></a></h1>
               <nav id="gnb">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">Dailylook</a></li>
                        <li><a href="#">community</a></li>
                        <li><a href="#">기타등등</a></li>
                    </ul>
                </nav>
           </div>             
        </header>
        </body>
</html>
