
{% load static %}
<html lang="ko">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}"/>
		<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	</head>
	<body>
	<header>
		<div class="inner">
			<h1 class="logo_top"><a href="#">HG's Page</a></h1>
			<ul>
				<li><a href="">Daily Look</a></li>
				<li><a href="">Community</a></li>
				<li><a href="">Donation</a></li>
				<li><a href="">Event</a></li>
			</ul>
		</div>
	</header>
	<section class="page-start">
			<div class="content">
				{% block content %}
				{% endblock%}
			</div>
		</div>
	</section>
<script>
	$(function(){
		var header = $('header'); //헤더를 변수에 넣기
		var page = $('.page-start'); //색상이 변할 부분
		var pageOffsetTop = page.offset().top; //색상 변할 부분의 top값 구하기
  	$(window).resize(function(){ //반응형을 대비하여 리사이즈시 top값을 다시 계산
    	pageOffsetTop = page.offset().top;
  	});

  	$(window).on('scroll', function(){
    	if($(window).scrollTop() >= pageOffsetTop) { // 스크롤이 page보다 밑에 내려가면
    	  	header.addClass('down'); //클래스 추가
    	} else { // 스크롤 올릴 때
      		header.removeClass('down'); //클래스 제거
    	}
  	});
});
</script>
	</body>
</html>