{% extends 'base.html' %}
{% load static %}
	{% block content %}
		<div class="main-wrapper">
			<div class="banner">
				<div class="swiper-container swipe1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img" style="background-color: #000000;"></div>
                            <div class="text">
                                <p>Daily look을 올리고 소통</p>
                                <h3>존 멋 탱</h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img" style="background-color: #000000;"></div>
                            <div class="text">
                                <p>Community를 통한 style 공유</p>
                                <h3>존 잼</h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img" style="background-color: #000000;"></div>
                            <div class="text">
                                <p>Donation을 통한 나에게 기부</p>
                                <h3>Plz</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
			</div>
			<div class="content">


			</div>
		</div>
	{% endblock%}
