<!DOCTYPE HTML>

<html>
	<head>
		<title>HG Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>
		<div class="page-wrap">
				<nav id="nav">
					<ul>
						<li><a href="index.html" class="active"><span class="icon fa-home"></span></a></li>
						<li><a href="post_list.html"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>
				<section id="main">
						<section id="banner">
							<div class="inner">
								<h1>HG's Pages</h1>
								<p>daily look등을 공유해보세요</p>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">로그인</a></li>
									<li><a href="#galleries" class="button alt scrolly big">회원가입</a></li>
								</ul>
							</div>
						</section>
						<section id="galleries">
								<div class="gallery">
									<header class="special">
										<h2>What's New</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="../static/images/fulls/01.jpg"><img src="/board/static/images/thumbs/01.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/05.jpg"><img src="/board/static/images/thumbs/05.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/09.jpg"><img src="/board/static/images/thumbs/09.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/02.jpg"><img src="/board/static/images/thumbs/02.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/06.jpg"><img src="/board/static/images/thumbs/06.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/10.jpg"><img src="/board/static/images/thumbs/10.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/03.jpg"><img src="/board/static/images/thumbs/03.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="/board/static/images/fulls/07.jpg"><img src="/board/static/images/thumbs/07.jpg" alt="" title="This right here is a caption." /></a>
										</div>
									</div>
									<footer>
										<a href="post_list.html" class="button big">Full Gallery</a>
									</footer>
								</div>
						</section>
				</section>
		</div>
			<script src="/board/static/js/jquery.min.js"></script>
			<script src="/board/static/js/jquery.poptrox.min.js"></script>
			<script src="/board/static/js/jquery.scrolly.min.js"></script>
			<script src="/board/static/js/skel.min.js"></script>
			<script src="/board/static/js/util.js"></script>
			<script src="/board/static/js/main.js"></script>
	</body>
</html>