{% extends 'blog/base.html' %}
{% block content %}
    {% for p in object_list %}
        <div class="card mb-8">
            {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/750/300/?random" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ p.title }}</h2>
                <p class="card-text">{{ p.content | truncatewords:10 }}</p>
                <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ p.created }} by {{ p.author }}
            </div>
        </div>
        <br><br>
    {% endfor %}
{% endblock %}